body {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-weight: 700;
  color: hsl(179, 62%, 43%);
}

h2 {
  color: hsl(71, 73%, 54%);
}

h3 {
  font-size: 1.5rem;
}

.main {
  background-color: #fff;
  padding: 3% 5%;
}

.second-block {
  display: flex;
}

.subscription {
  color: #fff;
  background-color: hsl(179, 62%, 43%);
  padding: 5% 5%;
  line-height: 1.5;
  width: 50%;
}

.sing-up-btn {
  padding: 20px 80px;
  border: 1px;
  border-radius: 10px;
  color: #fff;
  background-color: hsl(71, 73%, 54%);
  font-size: 1rem;
  margin-bottom: 50px;
  box-shadow: 4px 4px 20px 0 #000000;
}

.sing-up-btn:hover {
  background-color: hsl(71, 73%, 34%);
}

.why-us {
  background-color: hsl(179, 82%, 43%);
  padding: 5% 5%;
  color: #fff;
  width: 50%;
  line-height: 1.5;
}

.big-price {
  font-size: 3rem;
}

@media (max-width: 510px) {
  .second-block {
    display: inline;
  }

  .subscription {
    width: 90%;
  }

  .why-us {
    width: 90%;
  }
}
